@use '../abstracts/functions' as fn;
@use './header/hamburger';
@use './header/offcanvas';

.header {
	z-index: 5;
	top: 0;

	.wp-block-navigation {
		&__responsive-container-open {
			svg {
				--size: 48px;
				width: var(--size) !important;
				height: var(--size) !important;
				fill: var(--wp--preset--color--primary);
			}
		}

		&__submenu-container {
			padding: 0 !important;
			margin-inline-start: 2rem;
		}
	}

	.wp-block-navigation-item {
		border-bottom: 2px solid transparent;
		transition: fn.transition(border-color);
		text-transform: uppercase;

		&:hover {
			border-color: white;
			cursor: pointer;
		}

		&__label {
			font-family: var(--wp--preset--font-family--roie);
			letter-spacing: 2px;
		}
	}
}
