<!-- wp:k1-block-theme/site-header /-->

<!-- wp:k1-block-theme/hero -->
<div class="wp-block-k1-block-theme-hero alignfull"><!-- wp:paragraph {"placeholder":"A subheadline section can go here.","textColor":"white"} -->
	<p class="has-white-color has-text-color">Some Text here.</p>
	<!-- /wp:paragraph -->

	<!-- wp:buttons -->
	<div class="wp-block-buttons"><!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/get-started">Get Started</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:k1-block-theme/hero -->

<!-- wp:k1-block-theme/site-footer /-->